@font-face {
  font-family: "Raleway-ExtraBold";
  src: url("/fonts/Raleway-ExtraBold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "Raleway-Regular";
  src: url("/fonts/Raleway-Regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "Raleway-Thin";
  src: url("/fonts/Raleway-Thin.ttf");
  font-weight: lighter;
}

@font-face {
  font-family: "Roboto-Mono";
  src: url("/fonts/RobotoMono-Regular.ttf");
}

* {
  box-sizing: border-box;
}

.wrapper-holder {
  background: #4450a0;
}

.mainHeading {
  font-family: "Roboto-Mono";
  color: #fff;
  text-align: center;
  font-size: 72px;
  line-height: 74px;
  display: block;
  text-transform: uppercase;
  margin: 85px 0 23px;
  letter-spacing: 2px;
}

#nav ul a {
  font-family: "Raleway-Regular";
  color: #fff;
  font-size: 18px;
  line-height: 20px;
  text-transform: uppercase;
  padding: 0 0 10px;
  border-bottom: 4px solid #fff;
}

h2.slogan {
  display: block;
  text-align: center;
  text-transform: uppercase;
  font-family: "Raleway-Regular";
  font-size: 30px;
  line-height: 32px;
  color: #fff;
  padding: 34px 0 50px 0;
}

/* main styles */
#main {
  max-width: 1170px;
  margin: 0 auto;
  padding: 93px 0 76px;
}
#main h2 {
  display: block;
  text-align: center;
  text-transform: uppercase;
  font-family: "Raleway-Regular";
  font-size: 30px;
  line-height: 32px;
  color: #fff;
  letter-spacing: 2px;
}
