@import "fonts";
@import "config";
@import "utilities";

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
}

.page_container {
  display: grid;
  background-color: $primary-black-color;

  //   .menu_trigger {
  //     hamburger icon
  //   }

  header {
    margin: 0;
  }
  nav {
    @include set-background-color($primary-black-color);
    display: flex;
    align-items: center;
    justify-content: space-around;

    ul {
      display: flex;
      list-style: none;
    }
    li {
      padding: 15px;
    }
    a:hover {
      text-decoration: underline;
      cursor: pointer;
    }
    a {
      color: $primary-white-color;
      text-decoration: none;
    }
  }
  .main_heading {
    background-image: url(/images/header-background-img.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: $primary-white-color;
    text-align: center;
    height: 11vh;

    h1 {
      font-family: "Caveat", cursive;
      font-size: 3rem;
      padding: 0 20px;
    }

    &_slogan {
      font-size: 1rem;
      text-transform: capitalize;
    }
  }

  .about_me {
    color: $primary-white-color;
    padding: 15px 15px;

    &_text {
      font-family: "Inconsolata", monospace;
      text-align: left;
      font-size: 0.9rem;
    }

    h2 {
      font-family: "Inconsolata", monospace;
      font-size: 1.8rem;
      margin-bottom: 10px;
      text-transform: capitalize;
    }
  }
  .portfolio_section {
    display: grid;

    .individual_project {
      align-items: center;
      border: 10px solid #f1f1f1;
      margin-top: 40px;
      position: relative;

      .image {
        opacity: 1;
        display: block;
        width: 100%;
        height: auto;
        transition: 0.5s ease;
        backface-visibility: hidden;
      }
    }

    .section_title {
      text-align: center;
      color: $primary-white-color;
      font-family: "Inconsolata", monospace;
      padding: 20px;
      font-size: 1.5rem;

      // lighten
    }
    .portfolio_section_button {
      font-family: "Inconsolata", monospace;
      background-color: $primary-white-color;
      padding: 20px 20px;
      margin: 20px;
      border-radius: 5px;

      &:hover {
        transform: scale(0.98);
      }
    }
  }

  .project_overlay {
    transition: 0.5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }

  .individual_project:hover .image {
    opacity: 0.3;
  }

  .individual_project:hover .project_overlay {
    opacity: 1;
  }

  .project_overlay_icons {
    font-size: 2.5rem;
    padding: 16px 32px;
    display: flex;

    i {
      margin: 0 70px;
    }
  }
}

// portfolio //

.portfolio_display {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  img {
    width: 200px;
    height: 200px;
    grid-column-start: 1;
    grid-row: 1;
  }
  h3 {
    grid-column-end: 4;
    text-align: center;
    grid-column-start: 2;
    grid-row: 1;
  }
  p {
    grid-row: 2;
  }
}

.footer {
  display: flex;
  font-size: 2rem;
  justify-content: space-around;
  i {
    padding: 10px 20px;
    color: $primary-white-color;
  }
}

.footer_copy {
  align-items: center;
  color: $primary-white-color;
  padding: 10px 0;
}
