@import "config";
@import "utilities";

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
}

.page_container {
  display: grid;
  background-color: $primary-black-color;

  //   .menu_trigger {
  //     hamburger icon
  //   }

  header {
    margin: 0;
  }
  nav {
    @include set-background-color($primary-white-color);
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: "Courier New", Courier, monospace; //
    font-weight: 600;
    ul {
      display: flex;
      list-style: none;
    }
    li {
      padding: 15px;
    }
    a:hover {
      text-decoration: underline;
      cursor: pointer;
    }
    a {
      color: $primary-black-color;
      text-decoration: none;
      font-size: 1rem;
    }
  }
  .main_heading {
    color: $primary-white-color;
    text-align: left;
    height: 5vh;

    h1 {
      background-color: rgb(15, 170, 123);
      font-family: "Caveat", cursive;
      text-decoration: underline;
      font-size: 2rem;
      padding: 10px 20px;
    }
  }

  //typewriter styles //

  .output {
    text-align: center;
    font-family: "Courier New", Courier, monospace; //
    color: $primary-white-color;
    height: 40vh;

    h1 {
      margin-top: 25%;
      font-size: 2rem; //
    }
  }

  .cursor::after {
    content: "";
    display: inline-block;
    margin-left: 3px;
    background-color: rgb(218, 218, 218);
    animation-name: blink;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
  }

  h1.cursor::after {
    height: 24px;
    width: 13px;
  }

  p.cursor::after {
    height: 13px;
    width: 6px;
  }

  @keyframes blink {
    0% {
      opacity: 1;
    }

    49% {
      opacity: 1;
    }

    50% {
      opacity: 0;
    }

    100% {
      opacity: 0;
    }
  }

  .about_me {
    color: $primary-white-color;
    padding: 15px 15px;

    &_text {
      font-family: "Inconsolata", monospace;
      text-align: left;
      padding: 20px 5px;
    }

    h2 {
      background-color: rgb(15, 170, 123);
      font-family: "Inconsolata", monospace;
      font-size: 1.8rem;
      margin-bottom: 10px;
      text-transform: capitalize;
    }
  }
  .portfolio_section {
    display: grid;

    .individual_project {
      align-items: center;
      border: 10px solid #f1f1f1;
      margin-top: 40px;
      position: relative;

      .image {
        opacity: 1;
        display: block;
        width: 100%;
        height: auto;
        transition: 0.5s ease;
        backface-visibility: hidden;
      }
    }

    .section_title {
      text-align: center;
      color: $primary-white-color;
      font-family: "Inconsolata", monospace;
      padding: 20px;
      font-size: 1.5rem;

      // lighten
    }
  }
  .tech_stack {
    font-family: "Inconsolata", monospace;
    background-color: $primary-white-color;
    margin-top: 60px;
    display: flex;
    align-content: space-around;
    width: 100%;
    padding: 20px 20px;
    border-radius: 5px;

    .fab {
      font-size: 2.5rem;
      &:hover {
        opacity: 0.9;
        font-size: 2.4rem;
      }
    }
  }

  .project_overlay {
    transition: 0.5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }

  .individual_project:hover .image {
    opacity: 0.2;
  }

  .individual_project:hover .project_overlay {
    opacity: 1;
  }

  .project_overlay_icons {
    font-size: 2.5rem;
    padding: 16px 32px;
    display: flex;

    i {
      margin: 0 70px;
    }
  }
}

// portfolio //

//   background-color: rosybrown;

.portfolio_display {
  color: $primary-white-color;
  font-family: "Inconsolata", monospace;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 26%);

  img {
    width: 200px;
    height: 200px;
    grid-column-start: 1;
    grid-row: 1;
    object-fit: contain;
  }
  h3 {
    font-size: 1rem;
    grid-column-end: 4;
    text-align: center;
    grid-column-start: 2;
    grid-row: 1;
    margin-top: 50px;
  }
  p {
    font-size: 0.9rem;
    text-align: center;
    grid-row: 2;
    grid-column-start: 2;
    grid-column-end: 4;
    margin: 8px;
    padding: 0 2px;
    font-weight: 300;

    span {
      display: inline-block;
      font-size: 0.7rem;
      padding-top: 10px;
      text-decoration: underline;
    }
  }
}

.footer {
  display: flex;
  font-size: 2rem;
  justify-content: space-around;
  margin-top: 20px;
  i {
    padding: 10px 20px;
    color: $primary-white-color;

    &:hover {
      color: rgb(188, 143, 143);
    }
  }
}

.footer_copy {
  color: $primary-white-color;
  margin-top: 10px;
}

// Responsive styles

@media screen and (min-width: 780px) {
  .about_me {
    color: $primary-white-color;
    padding: 15px 15px;

    &_text {
      font-family: "Inconsolata", monospace;
      text-align: left;
      padding: 20px 5px;
    }

    .s {
      color: $primary-white-color;
      text-align: left;
      height: 5vh;
  
      h1 {
        background-color: rgb(15, 170, 123);
        font-family: "Caveat", cursive;
        text-decoration: underline;
        font-size: 2rem;
        padding: 10px 20px;
      }
    }
}

@media screen and (min-width: 1200px) {
}

@media screen and (min-width: 1500px) {
}
