@import "config";

html {
  scroll-behavior: smooth;
  width: auto !important;
  overflow-x: hidden !important;
}

body {
  background-color: rgb(177, 167, 241); //
}

* {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
}

.page_container {
  max-width: 1100px;
  margin: 0 auto;
  background-color: $primary-black-color;

  header {
    margin: 0;
  }
  nav {
    @include set-background-color($primary-white-color);
    align-items: center;
    justify-content: space-around;
    font-family: "Courier New", Courier, monospace; //
    font-weight: 600;
    ul {
      display: flex;
      list-style: none;
    }
    li {
      padding: 15px;
    }
    a:hover {
      text-decoration: underline;
      cursor: pointer;
    }
    a {
      color: $primary-black-color;
      text-decoration: none;
      font-size: 0.9rem;
    }
  }
  .main_heading {
    color: $primary-white-color;
    text-align: left;
    height: 5vh;

    h1 {
      background-color: rgb(15, 170, 123);
      font-family: "Caveat", cursive;
      font-size: 1.2rem;
      padding: 10px 20px;
    }
  }

  //typewriter styles //

  .output {
    text-align: center;
    font-family: "Courier New", Courier, monospace;
    color: $primary-white-color;
    height: 45vh;
    padding: 0 10px;

    h1 {
      margin-top: 25%;
      font-size: 2rem;
    }
  }

  .cursor::after {
    content: "";
    display: inline-block;
    margin-left: 3px;
    background-color: #fdf;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
  }

  h1.cursor::after {
    height: 24px;
    width: 13px;
  }

  p.cursor::after {
    height: 13px;
    width: 6px;
  }

  @keyframes blink {
    0% {
      opacity: 1;
    }

    49% {
      opacity: 1;
    }

    50% {
      opacity: 0;
    }

    100% {
      opacity: 0;
    }
  }

  .about_me {
    color: $primary-white-color;
    padding: 8px;

    &_text {
      font-family: "Inconsolata", monospace;
      text-align: left;
      font-size: smaller;
      padding: 15px 15px;
      line-height: 20px;
      font-size: 1rem;
    }

    h2 {
      background-color: $green-background-color;
      font-family: "Inconsolata", monospace;
      font-size: 1.8rem;
      text-transform: capitalize;
      margin-bottom: 10px;
      padding: 8px;
    }
  }

  // PORTFOLIO SECTION //

  .portfolio_section {
    margin-top: 40px;
    display: grid;

    .individual_project {
      align-items: center;
      border: 10px solid #f1f1f1;
      margin-bottom: 20px;
      position: relative;

      .image {
        width: 100%;
        height: auto;
        opacity: 1;
        display: block;
        transition: 0.5s ease;
        backface-visibility: hidden;
        object-fit: contain;
      }
      .section_title {
        text-align: center;
        color: $primary-white-color;
        font-family: "Inconsolata", monospace;
        padding: 15px;
        font-size: 1rem;
      }
    }

    .project_overlay {
      transition: 0.5s ease;
      opacity: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      text-align: center;

      .individual_project {
        background-color: snow;
      }
    }

    .individual_project:hover .image,
    .individual_project:active {
      opacity: 0.2;
    }

    .individual_project:hover .project_overlay {
      opacity: 1;
    }

    .project_overlay_icons {
      font-size: 2.5rem;
      padding: 16px 32px;
      display: flex;

      i {
        margin: 0 50px;
      }
    }
  }
  .tech_stack {
    padding: 20px 20px;
    margin-top: 50px;
    display: flex;
    border-radius: 5px;
    background-color: $green-background-color;

    .fab {
      font-size: 2.3rem;
      &:hover {
        opacity: 0.9;
        font-size: 2.1rem;
      }
    }
  }
}

.footer {
  // display: flex;
  // justify-content: space-around;

  font-size: 1.6rem;
  margin-top: 20px;
  text-align: center;

  i {
    padding: 10px 20px;
    color: $primary-white-color;

    &:hover {
      color: $green-background-color;
    }
  }
  &_copy {
    color: $primary-white-color;
    margin-top: 10px;
    margin-bottom: 15px;
  }
}

// Responsive Styles //

@media screen and (min-width: 780px) {
  .page_container {
    header {
      margin: 0;
    }
    nav {
      li {
        padding: 20px;
      }
      a {
        font-size: 1.3rem;
        font-weight: 600;
      }
    }

    .main_heading {
      h1 {
        padding: 20px 20px;
        font-size: 1.6rem;
      }
    }
    .output {
      height: 60vh;
      h1 {
        margin-top: 20%;
      }
      p {
        font-size: 1rem;
        color: $green-background-color;
        font-size: 1.2rem;
      }
    }

    .about_me {
      h2 {
        padding: 15px;
        margin-bottom: 25px;
      }
      &_text {
        font-size: 1.2rem;
      }
    }

    .portfolio_section {
      .individual_project {
        .section_title {
          font-size: 1.4rem; //not happy with this!!!
        }
      }
    }

    .tech_stack .fab {
      font-size: 3rem;
    }

    .footer {
      i {
        font-size: 2.3rem;
      }
      &_copy {
        font-size: 1rem;
      }
    }
  }
}

@media screen and (min-width: 1200px) {
}

@media screen and (min-width: 1500px) {
}
